@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #eee;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    border: none;
    background: #111;
    color: #eee;
    border-radius: 5px;
    transition: background 500ms ease;
}

.btnback {
    display: flex;
    justify-content: center;
    background: #222;
    color: #eee;
    border: none;
    transition: background 500ms ease;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    border: none;
}

#btnbackexp {
    display: flex;
    justify-content: center;
    background: #eee;
    color: #222;
    border: none;
    transition: background 500ms ease;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    border: none;
}

.btn:hover {
    cursor: pointer;
    background: #000;
}

.headline {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

#navbar {
    width: 100%;
    background: #111;
    color: #eee;
    height: 80px;
    position: fixed;
}

#navbar-container {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

#navbar-items {
    list-style: none;
    display: flex;
}

#navbar-items li {
    padding: 10px;
    text-transform: uppercase;
}

/* Showcase */
#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url('../imagem/img2.png') no-repeat center center/cover;

    /* Overlay */
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;

}

#showcase-container {
    text-align: center;

}

#showcase-container h2 {
    font-size: 2.5rem;
}

#showcase-container p {
    font-size: 1.2rem;
    padding: 7px 0;
}

.company {
    display: inline-block;
    width: 25%;
}

#nanos {
    width: 100%;
    background: #222;
    color: #eee;
    padding: 50px;
}

#features-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    background: #333;
    padding: 20px;
    border-radius: 5px;
}

#features-container .title {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
}

#cel {
    width: 100%;
    padding: 50px;
    background: #eee;
    color: #222;
}

#cel-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.item-cel {
    display: flex;
    flex-direction: column;
    background: #888;
    padding: 20px;
    border-radius: 5px;
}

#nanos-atual {
    width: 100%;
    background: #222;
    color: #eee;
    padding: 50px;
}

#nanos-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.nano-atual {
    display: flex;
    flex-direction: column;
    background: #333;
    padding: 20px;
    border-radius: 5px;
}

#testimonials {
    width: 100%;
    background: #222;
    color: #eee;
    padding: 50px;
}

#testimonials-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.testimonial {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 15px;
    margin: 15px 15px;
    border-radius: 5px;
}

.testimonial .person {
    height: 200px;
    width: auto;
    border-radius: 50%;
    margin: 0 30px;
}

#gallery {
    width: 90%;
    margin: auto;
    padding: 50px;
}

#gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-items: center;
}

.gallery-image {
    display: inline-block;
    width: 540px;
    height: 360px;
    border-radius: 5px;
}

#footer {
    background: #222;
    color: #eee;
    padding: 30px;
    text-align: center;
}